@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  border: 2px solid transparent;
  border-top-color: #3b82f6;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}